<div class="eaPinnedColumnTable-wTableSettingsForm">
    <div class="eaPinnedColumnTable-wTableSettingsForm-content eb_scrollbar"></div>
    <div class="eaPinnedColumnTable-wTableSettingsForm-controls">
        <button class="ebBtn ebBtn_color_darkBlue eaPinnedColumnTable-wTableSettingsForm-apply">{{apply}}</button>
        <button class="ebBtn eaPinnedColumnTable-wTableSettingsForm-cancel">{{cancel}}</button>
    </div>
</div>
