.elBulkImportLib-wJobFilters-Side {
    height: 100%;

    &-content {
        max-height: calc(~'100% - 38px');
        overflow: auto;
    }

    &-wrapper {
        margin: 10px 0 30px 0;
    }

    &-title {
        font-weight: bold;
        line-height: 2.5rem;
    }

    &-controls {
        padding: 6px;
        border-top: 1px solid #ccc;
    }
}
