<div class="eaDrilldownTable-wDrillDown">
    <header class="eaDrilldownTable-wDrillDown-header"></header>
    <div class="eaDrilldownTable-wDrillDown-table"></div>
    <p class="ebText">{{instructions}}</p>
</div>
