<th class="eaFilterableTable-wFilterHeaderCell">
    <div class="eaFilterableTable-wFilterHeaderCell-wrapper">
        <div class="eaFilterableTable-wFilterHeaderCell-options"></div>
        <input class="eaFilterableTable-wFilterHeaderCell-input" type="text"/>
    </div>
</th>
