.elNetworkExplorerLib-rSimpleSearch {
  min-height: 24px;
  background: #eee;
  padding-left: 6px;
  border-radius: 3px;
  margin: 12px 0 16px 0;
  overflow: auto;

  &-form {
    margin-right: 6px;
    padding-top: 6px;
    display: flex;
    flex-wrap: wrap;

    &-searchInputWrapper {
      position: relative;
      display: inline-block;
      width: 100%;
      padding: 0px 0 6px 0px;
      flex: 1 0 60%;
      max-width: 700px;
    }

    &-searchBtn {
      margin: 0;
      min-width: 0;
    }

    &-searchBtn:disabled .elNetworkExplorerLib-rSimpleSearch-form-searchBtnIcon {
      background-image: url('@{current-url}/search_black_16px.svg');
    }
  }
}

//@media (max-width: 860px) {
//  .elNetworkExplorerLib-rSimpleSearch {
//    &-form {
//      &-searchBtnText {
//        display: none;
//      }
//    }
//  }
//}