<div class="eaSimpleTableSettings-wTableSettingsForm">
    <div class="eaSimpleTableSettings-wTableSettingsForm-content eb_scrollbar"></div>
    <div class="eaSimpleTableSettings-wTableSettingsForm-controls">
        <button class="ebBtn ebBtn_color_darkBlue eaSimpleTableSettings-wTableSettingsForm-apply">{{apply}}</button>
        <button class="ebBtn eaSimpleTableSettings-wTableSettingsForm-cancel">{{cancel}}</button>
    </div>
</div>
