<div class="eaPinnedColumnTable-wUserTable">
    <header class="eaPinnedColumnTable-wUserTable-header">
        <span class="eaPinnedColumnTable-wUserTable-text">{{header}}</span>

        <div class="eaPinnedColumnTable-wUserTable-buttonHolder">
            <button class="ebBtn ebBtn_subtle eaPinnedColumnTable-wUserTable-settingsButton">
                <i class="ebIcon ebIcon_settings"></i>
                <span>{{settings}}</span>
            </button>
        </div>
    </header>
    <div class="eaPinnedColumnTable-wUserTable-table"></div>
</div>
