.elNetworkExplorerLib-wChooseCollection {
    &-newButton {
        display: block;
        text-align: left;
        padding-bottom: 5px;

        &-radioNewCollection {
            &Label {
                padding-left: 0px;
            }
        }
    }

    &-existingButton {
        display: block;
        text-align: left;
        padding-bottom: 5px;

        &-radioExistingCollection {
            &Label {
                padding-left: 0px;
            }
        }
    }

    &-replaceButton {
        display: block;
        text-align: left;
        padding-left: 2em;
        padding-bottom: 5px;

        &-replaceCheckbox {
            &Label {
                padding-left: 0px;
            }
        }
    }
}
