<div class="eaSimpleTableSettings-wUserTable">
    <header class="eaSimpleTableSettings-wUserTable-header">
        <span class="eaSimpleTableSettings-wUserTable-text">{{header}}</span>

        <div class="eaSimpleTableSettings-wUserTable-buttonHolder">
            <button class="ebBtn ebBtn_subtle eaSimpleTableSettings-wUserTable-settingsButton">
                <i class="ebIcon ebIcon_settings"></i>
                <span>{{settings}}</span>
            </button>
        </div>
    </header>
    <div class="eaSimpleTableSettings-wUserTable-table"></div>
</div>
