<div class="eaSortableTable-wUserTable">
    <div class="ebNotification ebNotification_color_paleBlue eaSortableTable-wUserTable-notification eaSortableTable-wUserTable-notification_hidden">
        <div class="ebNotification-content eaSortableTable-wUserTable-notification-content">
            <span class="ebNotification-icon">
                <i class="ebIcon ebIcon_infoMsgIndicator"></i>
            </span>
            <span class="ebNotification-label">{{i18n.instruction}}</span>
        </div>
    </div>
</div>
