<div class="eaPaginatedTable-wUserTable">
    <header class="eaPaginatedTable-wUserTable-header">
        <span class="eaPaginatedTable-wUserTable-text">{{header}}</span>
        <span class="eaPaginatedTable-wUserTable-selectHolder"></span>
    </header>
    <div class="eaPaginatedTable-wUserTable-table"></div>
    <div class="eaPaginatedTable-wUserTable-loader ebLoader">
        <div class="ebLoader-Holder">
            <span class="ebLoader-Dots"></span>
        </div>
    </div>
    <footer class="eaPaginatedTable-wUserTable-footer"></footer>
</div>
